.layout {
  width: 100%;
  height: calc(100vh - 42px);
  display: flex;
  justify-content: center;
  background: radial-gradient(
    circle at 50% 90%,
    var(--bg-color-fifth) 0%,
    var(--background-color) 100%
  );
  position: relative;
  padding-top: 84px;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    height: 100%;
    min-height: 100vh;
  }

  &__back {
    position: absolute;
    top: 121px;
    left: 100px;
    cursor: pointer;
    z-index: 3;

    @media (max-width: 700px) {
      display: none;
    }
  }
}
