@import "@/styles/mixins.scss";

.howItWork {
  padding: 150px 100px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  width: 100%;

  h3 {
    font-family: var(--font-bold);
    @include fontSizeTitleAdaptive(80);
  }

  @media (max-width: 1200px) {
    padding: 100px 75px;
  }

  @media (max-width: 900px) {
    padding-top: 50px;
  }

  @media (max-width: 700px) {
    padding: 40px 20px;

    h3 {
      font-size: 32px;
    }
  }

  &__contentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 300px;

    width: 100%;

    @media (max-width: 1500px) {
      // gap: 155px;
    }

    @media (max-width: 1200px) {
      // gap: 200px;
    }

    @media (max-width: 900px) {
      // gap: 100px;
    }

    @media (max-width: 700px) {
      // gap: 90px;
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: calc((100vw - 200px) * 0.65 * 0.612);

    @media (max-width: 1500px) {
      // height: 400px;
    }

    @media (max-width: 1200px) {
      height: calc((100vw - 140px) * 0.65 * 0.612);;
    }

    @media (max-width: 900px) {
      height: calc((100vw - 100px) * 0.65 * 0.612);
    }

    @media (max-width: 900px) {
      height: calc((100vw - 40px) * 0.65 * 0.612);
    }
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    width: 25%;

    > h2 {
      text-align: start;
      @media (max-width: 700px) {
        font-size: 18px;
      }
    }

    > p {
      @include fontSizeAdaptive(20);
      line-height: 140%;

      @media (max-width: 700px) {
        font-size: 12px;
      }
    }
  }

  &__iconBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(((100vw - 200px) * 0.65 * 0.612) / 2 - 50px);

    > div:nth-child(odd) {
      width: 100%;
      max-height: 100px;
    }

    > div:nth-child(even) {
      min-height: calc((100vw - 200px) * 0.65 * 0.612 - 100px);
    }

    @media (max-width: 1500px) {
      // padding-top: 190px;
      > div:nth-child(even) {
        width: 1px;
        min-height: calc((100vw - 200px) * 0.65 * 0.612 - 100px);
      }
      > div:nth-child(odd) {
        max-height: 90px;
        > img {
          width: fit-content;
          height: 90px;
        }
      }
    }

    @media (max-width: 1200px) {
      padding-top: calc(((100vw - 140px) * 0.65 * 0.612) / 2 - 40px);
      > div:nth-child(even) {
        width: 1px;
        min-height: calc((100vw - 140px) * 0.65 * 0.612 - 80px);
      }
      > div:nth-child(odd) {
        max-height: 80px;
        > img {
          width: fit-content;
          height: 80px;
        }
      }
    }

    @media (max-width: 900px) {
      padding-top: calc(((100vw - 100px) * 0.65 * 0.612) / 2 - 32px);
      > div:nth-child(even) {
        width: 1px;
        min-height: calc((100vw - 100px) * 0.65 * 0.612 - 65px);
      }
      > div:nth-child(odd) {
        max-height: 65px;
        img {
          width: fit-content;
          height: 65px;
        }
      }
    }

    @media (max-width: 700px) {
      padding-top: calc(((100vw - 40px) * 0.65 * 0.612) / 2 - 23px);
      > div:nth-child(even) {
        width: 1px;
        min-height: calc((100vw - 40px) * 0.65 * 0.612 - 45px);
      }
      > div:nth-child(odd) {
        max-height: 45px;
        img {
          width: fit-content;
          height: 45px;
        }
      }
    }
  }

  &__imgBlock {
    width: 65%;
    height: fit-content;
  }
}

.line {
  width: fit-content;
  min-height: 600px;
}

.filledLine {
  width: 1px;
  height: 0%;
  background-color: var(--blue-color);
  opacity: 1;
}

.paleLine {
  width: 1px;
  height: 100%;
  background-color: var(--blue-color);
  opacity: 0.2;
}
