@import "@/styles/mixins.scss";

.clothSelectorBlock {
  width: 38%;
  height: 100%;
  border-radius: 16px;
  background: var(--bg-color-cloth);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  @media (max-width: 1000px) {
    width: 100%;
    height: 682px;
  }
}

.navSection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  gap: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: inherit;
  width: 100%;
  border: none;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.subCategories {
  font-size: 18px;
  height: 42px;
}

.btn-fill,
.btn:hover {
  background: var(--blue-color);
  opacity: 1;
}

.cardBlock {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 132px;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0B0511;
  }

  #element::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  min-width: 150px;
  height: 250px;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  color: var(--card-text);
  text-align: center;

  &__image {
    object-fit: contain;
  }

  @media (max-width: 1000px) {
    width: 150px;
  }
}

.opacityCard {
  opacity: 0.5;
}

.cardList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  grid-gap: 10px;
  width: calc(3 * 150px + 2 * 10px);

  @media (max-width: 1562px) {
    width: calc(2 * 150px + 10px);
  }

  @media (max-width: 1144px) {
    width: 150px;
  }

  @media (max-width: 1000px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}