@import "@/styles/mixins.scss";

.wrapper {
  @media (max-width: 700px) {
    width: 100%;
  }
}

.clothSelectorBlock {
  width: 540px;
  height: 100%;
  border-radius: 16px;
  background: var(--bg-color-eighth);
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  @media (max-width: 700px) {
    width: 100%;
    height: 484px;
  }
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.navbar {
  position: relative;
  width: 100%;
  border-radius: 24px;
  background: var(--background-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    grid-template-columns: repeat(auto-fit, minmax(54px, 1fr));
  }

  &__button {
    position: absolute;
    top: 0;
    transition: left 0.4s ease-in-out;
    width: calc(100% / 3);

    & > button {
      width: 100%;
      font-size: 15px;
    }
  }

  &_subCategories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(254, 248, 239, 0.5);
  background: inherit;
  width: 100%;
  min-width: fit-content;
  border: none;
  border-radius: 24px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  height: 42px;
  // padding: 0 3px;
  box-sizing: border-box;

  @media (max-width: 700px) {
    font-size: 16px;
  }
}

.subCategories {
  font-size: 15px;
  height: 42px;
  max-width: fit-content;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;


  @media (max-width: 700px) {
    width: fit-content;
    font-size: 14px;
  }
}

.btn-fill {
  color: var(--text-color-third);
  opacity: 1;
}

.cardBlock {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  width: calc(100% + 16px);

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0b0511;
  }

  #element::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 186px;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  color: var(--card-text);
  text-align: center;

  &__imageWrapper {
    height: calc(100% - 30px);
  }

  &__image {
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 1000px) {
    width: 150px;
  }

  &__text {
    color: var(--text-color-fourth);
  }
}

.opacityCard {
  opacity: 0.5;
}

.cardList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 158px));
  grid-gap: 10px;
  width: calc(3 * 158px + 2 * 10px + 16px);

  // @media (max-width: 1562px) {
  //   width: calc(2 * 158px + 10px);
  // }

  // @media (max-width: 1144px) {
  //   width: 158px;
  // }

  @media (max-width: 1000px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
