@import "@/styles/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 50px 100px;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: radial-gradient(
      circle at 50% 15%,
      var(--background-gradient-second-color),
      var(--background-gradient-color),
      var(--background-color) 25%
    );
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;

    @media (max-width: 700px) {
      background: var(--bg-color-third);
    }
  }

  @media (max-width: 1200px) {
    padding: 30px 75px;
  }

  @media (max-width: 700px) {
    padding: 30px 20px 0 20px;
  }

  color: var(--text-color);
  @include fontSizeAdaptive(20);

  > a:nth-child(1) {
    height: 65px;

    > img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1500px) {
      width: 9%;
      height: 9%;
    }

    @media (max-width: 700px) {
      width: 80px;
      height: 42px;
    }
  }

  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  font-family: var(--font-secondary-bold);

  @media (max-width: 900px) {
    width: 60%;
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.burger {
  display: none;
  @media (max-width: 700px) {
    display: block;
    cursor: pointer;
  }
}

.burgerMenu {
  display: none;

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    gap: 30px;
    padding: 20px;
    border-radius: 16px;
    margin-right: 20px;

    font-family: var(--font-secondary-bold);
    background: var(--bg-color-second);

    z-index: 999;
  }
}

.burgerWrapper {
  display: none;

  @media (max-width: 700px) {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: 100px;
    left: 0;
  }
}

.burgerWrapperInvisible {
  display: none;
  @media (max-width: 700px) {
    display: none;
  }
}

.generator {
  @media (max-width: 700px) {
    display: none;
  }
}

.logIn,
.logInBurger {
  border-radius: 16px;
  border: none;
  background: var(--blue-color);

  @include fontSizeAdaptive(20);
  color: var(--text-color);
  font-family: var(--font-secondary-bold);

  cursor: pointer;

  @include btnSizeAdaptive(142, 65);

  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    display: none;
  }
}

.logIn {
  // display: flex;
  width: 114px !important;
  height: 35px !important;

  @media (max-width: 700px) {
    display: none;
  }
}

.logInBurger {
  display: none;
  @media (max-width: 700px) {
    display: flex;
    width: 100%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &:hover &__dropdownContent {
    display: block;
  }

  &__dropbtn {
    background: transparent;
    color: white;
    font-family: var(--font-secondary-bold);
    padding: 0;
    @include fontSizeAdaptive(20);
    border: none;
    cursor: pointer;
  }

  &__dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    > a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      @include fontSizeAdaptive(18);
      display: block;

      &:hover {
        background-color: var(--blue-color);
        color: #fff;
      }
    }
  }
}
