@import "@/styles/mixins.scss";

.loader {
  width: 64%;
  height: 100%;
  background: var(--bg-color-eighth);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 30px 0;

    @media (max-width: 700px) {
      padding: 0 0 15px 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: -60px;
    width: 100%;
    height: auto;

    @media (max-width: 600px) {
      top: -20px;
    }

    > svg {
      position: relative;
      top: -15px;
      width: 100% !important;
      height: 137% !important;
    }
  }

  &__progress {
    position: relative;
    top: -38px;

    @media (max-width: 1000px) {
      top: -10px;
    }
  }
}
