.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background: var(--bg-color-fourth);
    border: none;
}